/* styling of the footer */
*{
    font-family: 'Inter Tight', sans-serif;
  }
  div.whole{
      background-color: #0f1621;
      height: 100%;
      width: 100%;
  }
  div.box{
    position: relative;
    align-items: center;
      border-radius: 3rem;
    background: #1f2939;
    padding: 8rem;
    margin:0 auto ;
    width: 60%;
    height: 11rem;
  
  }
  div.box_content{
  
      color:white;
      text-align: center;
      align-items: center;
      /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }
  div.search{
    display: flex;
    justify-content: center;
  align-items: center;
  padding:2rem;
  margin:1rem 3rem 3rem 3rem;
  background-color: white;
  color:grey;
  cursor:pointer;
  border: none;
  box-sizing: border-box;
  height:2rem;
  width:50%;
  top:1.8rem;
  right:0;
  border-radius: 10rem;
  }
  form{
  position: relative;
  display: flex;
  /* border-radius: 10rem; */
  }
  form input{
    flex:1;
    /* border-radius:none; */
    /* outline:none; */
    border: none;
    border-radius: .6rem;
    height: 3.5rem;
    width: 20rem;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
   padding-left: 2rem;
   font-weight: 50%;
    /* letter-spacing: 0.5rem; */
  }
  form button{
    position: absolute;
    background-color: rgb(246, 177, 49);
    border: none;
    height: 3rem;
    padding:.9rem 5rem;
    border-radius: .5rem;
    color:white;
    left: 42rem;
    top: .3rem;
  }
  /*  */
  
  div.listfull{
    display:flex;
    padding-top: 4rem;
    /* margin:0; */
    align-items: baseline;
    justify-content: center;
  
  }
  /* div.list{
    
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
    align-items: center;
  } */
  div.last{
    color:grey;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
      padding: 2.9rem;
      outline: none;
      /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
      align-items: center;
  }
  
  li.info{
    display: block;
    list-style: none;
    color:rgb(187, 193, 207);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    align-items: center;
    font-weight: 1%;
  
  }
  div.copyright{
    background-color: rgb(246, 177, 49);
    width:100%;
    height:10rem;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 1rem;
    
  }
  p.end{
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    width:100%;
    height:3rem;
    background-color: rgb(246, 177, 49);
  }