/* styling of the section 2 */
*{
    font-family: 'Inter Tight', sans-serif;
    background-color: #0f1621;
    
  }

div.about-us{
    color:white;
    text-align: center;
    align-items: center;
}

div.list{
    display:flex;
    padding-top: 4rem;
    align-items: baseline;
    justify-content: center;
  
  }

  div.info{
    color:grey;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 2.9rem;
    outline: none;
    text-align: center;
    align-items: center;
  }

  h.title{
    display:flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:100%;
    height:3rem;
  }

  a.learn-more{
    display:flex;
    color: rgb(246, 177, 49);
    justify-content: center;
    text-align: center;
    align-items: center;
    width:100%;
    height:3rem;
  }